---
import type { Project } from '../pages/projects/projects';

const { projects } = Astro.props

---
<div class="grid grid-cols-12 gap-5">
  {
    projects.map((project: Project) => 
      <div class="col-span-12 sm:col-span-6 lg:col-span-4 border dark:border-zinc-700 rounded-xl shadow-sm p-5">
        <h3 class="font-semibold mb-2">
          {project.demoLink ? (
            <a class="underline" href={project.demoLink} target="_blank">{project.name}</a>
          ) : project.name}
        </h3>
        <div class="line-clamp-2 text-zinc-600 dark:text-zinc-300 mb-4">
          <p>{project.description}</p>
        </div>
        <div class='flex gap-2'>
          {
            (project.tags || [] )?.map((tag: string) => (
              <span
                class='border border-zinc-300 dark:border-zinc-700 rounded-2xl
                  text-sm text-zinc-700 dark:text-zinc-300 no-underline px-2 py-0.5
                  transition-all duration-700
                hover:border-zinc-700 dark:hover:border-zinc-300'
                >
                {tag}
              </span>
            ))
          }
        </div>
      </div>
    )
  }
</div>
